# Node
node_modules/
# dist/
.vite/

# Rust / WASM
ulog-parser-wasm/target/
ulog-parser-wasm/pkg/
src/wasm/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
